<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %> </h1>
    <p>
      To change your password please visit next url:<%= @url %>.<br/>
    </p>

    <p>Thanks for all and have a great day!</p>
  </body>
</html>
